* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #F2F2F2;
  font-family: Roboto, sans-serif;
}

body {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 3921px;
  background: #FFFFFF;
}

header {
  position: absolute;
  top: 0;
  width: 1440px;
  height: 800px;
  border-bottom: 3px solid #00194A;
  background: -webkit-gradient(linear, left bottom, left top, from(#F6F7F9), color-stop(62.81%, #FFFFFF));
  background: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 62.81%);
}
header h1 {
  position: absolute;
  top: 60px;
  left: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FF0043;
}
header a {
  position: absolute;
  top: 50px;
  right: 150px;
  width: 95px;
  height: 45px;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #FF0043;
  -webkit-box-shadow: 0 5px 50px rgba(255, 0, 67, 0.1);
          box-shadow: 0 5px 50px rgba(255, 0, 67, 0.1);
  border-radius: 23px;
}
header .header__post h2 {
  position: absolute;
  top: 260px;
  left: 150px;
  width: 560px;
  height: 170px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 85px;
  color: #00194A;
}
header .header__post p {
  position: absolute;
  top: 450px;
  left: 150px;
  width: 540px;
  height: 85px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #00194A;
  mix-blend-mode: normal;
  opacity: 0.8;
}
header .header__post a {
  position: absolute;
  top: 580px;
  left: 150px;
  width: 275px;
  height: 60px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 19px;
}
header .header__logo #cicle1 {
  position: absolute;
  top: 292px;
  right: 225px;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 67, 0.2);
}
header .header__logo #cicle2 {
  position: absolute;
  top: 221px;
  right: 154px;
  width: 454px;
  height: 454px;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 67, 0.2);
}
header .header__logo #cicle3 {
  position: absolute;
  top: 151px;
  right: 84px;
  width: 594px;
  height: 594px;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 67, 0.2);
}
header .header__logo img:nth-child(4) {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 145px;
  right: 452px;
  border-radius: 50%;
}
header .header__logo img:nth-child(5) {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 192px;
  right: 153px;
  border-radius: 50%;
}
header .header__logo img:nth-child(6) {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 274px;
  right: 321px;
  border-radius: 50%;
}
header .header__logo img:nth-child(7) {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 412px;
  right: 650px;
  border-radius: 50%;
}
header .header__logo img:nth-child(8) {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 618px;
  right: 543px;
  border-radius: 50%;
}
header .header__logo img:nth-child(9) {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 709px;
  right: 277px;
  border-radius: 50%;
}
header .header__logo img:nth-child(10) {
  position: absolute;
  width: 330px;
  height: 355px;
  top: 242px;
  right: 345px;
}
header .header__logo img:last-child {
  position: absolute;
  width: 329px;
  height: 339px;
  top: 335px;
  right: 45px;
}

main .main__section__first .section__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 880px;
  left: 150px;
  width: 1140px;
  height: 272px;
}
main .main__section__first .section__blocks .post {
  position: relative;
  width: 360px;
  height: 272px;
  margin-right: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
main .main__section__first .section__blocks .post ion-icon {
  margin-top: 36px;
  margin-left: 30px;
  font-size: 48px;
  color: #FF0043;
}
main .main__section__first .section__blocks .post h2 {
  margin-top: 26px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #00194A;
}
main .main__section__first .section__blocks .post p {
  margin-top: 15px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #00194A;
  mix-blend-mode: normal;
  opacity: 0.8;
}
main .main__section__first .section__blocks .post .link {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00194A;
  mix-blend-mode: normal;
  opacity: 0.5;
}
main .main__section__first .section__blocks .post .down {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
main .main__section__first .section__blocks .post .down ion-icon {
  margin-top: 0;
  margin-left: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #FF0043;
}
main .main__section__first .section__blocks .post:last-child {
  margin-right: 0;
}
main .main__section__second, main .main__section__third, main .main__section__forth {
  position: absolute;
  top: 1232px;
  width: 1440px;
  height: 635px;
}
main .main__section__second .section__photo img:first-child, main .main__section__third .section__photo img:first-child, main .main__section__forth .section__photo img:first-child {
  width: 249px;
  height: 249px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 36px;
}
main .main__section__second .section__photo img:nth-child(2), main .main__section__third .section__photo img:nth-child(2), main .main__section__forth .section__photo img:nth-child(2) {
  width: 381px;
  height: 508px;
  position: absolute;
  top: 71px;
  left: 129px;
  border-radius: 20px;
}
main .main__section__second .section__photo img:nth-child(3), main .main__section__third .section__photo img:nth-child(3), main .main__section__forth .section__photo img:nth-child(3) {
  width: 391px;
  height: 80px;
  position: absolute;
  top: 365px;
  left: 225px;
}
main .main__section__second .section__photo img:nth-child(4), main .main__section__third .section__photo img:nth-child(4), main .main__section__forth .section__photo img:nth-child(4) {
  width: 391px;
  height: 80px;
  position: absolute;
  top: 460px;
  left: 250px;
}
main .main__section__second .section__photo img:last-child, main .main__section__third .section__photo img:last-child, main .main__section__forth .section__photo img:last-child {
  width: 391px;
  height: 80px;
  position: absolute;
  top: 555px;
  left: 285px;
}
main .main__section__second .section__posts, main .main__section__third .section__posts, main .main__section__forth .section__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 162px;
  left: 691px;
}
main .main__section__second .section__posts h2, main .main__section__third .section__posts h2, main .main__section__forth .section__posts h2 {
  width: 466px;
  height: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #00194A;
}
main .main__section__second .section__posts p:nth-child(2), main .main__section__third .section__posts p:nth-child(2), main .main__section__forth .section__posts p:nth-child(2) {
  margin-top: 30px;
  width: 466px;
  height: 110px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #00194A;
  mix-blend-mode: normal;
  opacity: 0.8;
}
main .main__section__second .section__posts p:nth-child(3), main .main__section__third .section__posts p:nth-child(3), main .main__section__forth .section__posts p:nth-child(3) {
  margin-top: 30px;
  width: 466px;
  height: 60px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #00194A;
  mix-blend-mode: normal;
  opacity: 0.8;
}
main .main__section__third {
  height: 528px;
  top: 1967px;
}
main .main__section__third .section__posts {
  top: 115px;
  left: 150px;
}
main .main__section__third .section__posts p:nth-child(2) {
  height: 80px;
}
main .main__section__third .section__info .info {
  position: absolute;
  top: 0;
  left: 727px;
  width: 260px;
  height: 250px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
main .main__section__third .section__info .info ion-icon {
  position: absolute;
  top: 36px;
  left: 20px;
  font-size: 36px;
  color: #FF0043;
}
main .main__section__third .section__info .info h2 {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 220px;
  height: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00194A;
}
main .main__section__third .section__info .info p {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 220px;
  height: 70px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #00194A;
  mix-blend-mode: normal;
  opacity: 0.8;
}
main .main__section__third .section__info .info:nth-child(2) {
  top: 140px;
  left: 1017px;
}
main .main__section__third .section__info .info:nth-child(3) {
  top: 279px;
  left: 727px;
}
main .main__section__forth {
  top: 2595px;
  height: 1058px;
}
main .main__section__forth .section__photo img:nth-child(1) {
  width: 249px;
  height: 249px;
  left: 361px;
}
main .main__section__forth .section__photo img:nth-child(2) {
  width: 381px;
  height: 508px;
}
main .main__section__forth .section__photo img:nth-child(3) {
  width: 414px;
  height: 434px;
  top: 265px;
  left: 263px;
}
main .main__section__forth .section__posts {
  top: 204px;
  left: 727px;
}
main .main__section__fifth {
  position: absolute;
  top: 3394px;
  left: 150px;
  width: 1140px;
  height: 345px;
  background: #00194A;
  border-radius: 25px;
  text-align: center;
}
main .main__section__fifth h2 {
  position: absolute;
  top: 50px;
  left: 337px;
  width: 466px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}
main .main__section__fifth p {
  position: absolute;
  top: 130px;
  left: 280px;
  width: 580px;
  height: 56px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
main .main__section__fifth a {
  position: absolute;
  top: 236px;
  right: 432px;
  width: 275px;
  height: 60px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #FF0043;
  -webkit-box-shadow: 0 5px 50px rgba(255, 0, 67, 0.1);
          box-shadow: 0 5px 50px rgba(255, 0, 67, 0.1);
  border-radius: 23px;
}

footer p {
  position: absolute;
  bottom: 80px;
  left: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00194A;
}
footer .footer__link {
  position: absolute;
  height: 19px;
  width: 273px;
  right: 150px;
  bottom: 80px;
}
footer .footer__link a {
  margin-right: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-align: right;
  color: #00194A;
}
footer .footer__link a:last-child {
  margin-right: 0;
}